.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.github/**
scripts/**
docs/**
.tmp/**
tmp/**
coverage/**
test-results/**
**/*.log
**/*.tmp
**/*.tcp-sp
.snippets/**
.tcp-global/**
.tcp-staging/**
.tcp-transactions/**
.tcp-insert-*/**
